.card {
  width: 170px;
  min-height: 320px;
  background-color: white;
  height: fit-content;
  padding: 25px 40px 20px 40px;
}
.message {
  font-size: 22px;
  padding-top: 20px;
}
.user {
  margin-top: 40px;
  display: flex;
}
.userName {
  font-size: 10pt;
  margin-top: 10px;
  margin-left: 10px;
}
