.cardComments {
  width: 250px;
  min-height: 320px;
  background-color: #ffffff;
  height: fit-content;
  padding: 25px 40px 20px 40px;
}
.messageComments {
  font-size: 22px;
  padding-top: 20px;
}
.userComments {
  margin-top: 40px;
  display: flex;
}
.userNameComments {
  font-size: 10pt;
  margin-top: 10px;
  margin-left: 10px;
}
