.desIntro {
  width: 100%;
  min-height: 800px;
  height: fit-content;
}
.desTopicSummary {
  display: flex;
}
.desSummary {
  width: 50%;
  min-height: 350px;
  height: fit-content;
}
.desImageContainer {
  width: 50%;
  height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.desDescriptionContainer {
  width: 100%;
  height: 450px;
  padding: 10px 20px 30px 30px;
}
#desName {
  margin-left: 30px;
}
.desCountryRating {
  display: flex;
  margin-left: 30px;
  margin-top: -30px;
}
#desCountry {
  font-size: 15pt;
  color: green;
  line-height: 0;
}
#desImage {
  border-radius: 10px;
}
.desDescription {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding-right: 5px;
}
.desDescription::-webkit-scrollbar {
  width: 5px;
}
.desDescription::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
  border-radius: 5px;
}
.desDescription::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px #008000;
}
