.mainFilter{
    width: 100%;
    height: fit-content;
    padding: 50px 50px 50px 50px;
    background-color: #e6ecfc;
}

.searchBarContainer {
    display: flex;
    align-items: center;
  }
  
  .searchSelect {
    color: white;
    border-radius: 20px;
    background-color: #ffffff;
    margin-right: 16px;
  }
  
  .searchTextField {
    color: white;
    border-radius: 20px;
    background-color: #ffffff;
    margin-right: 16px;
  }
  
  .searchButton {
    color: white;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px;
  }

  /* Material UI */
  
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-radius: 20px;
  }
  
  .MuiInputLabel-outlined {
    color: white;
  }
  
  .MuiIconButton-root:hover {
    background-color: #ffffff;
  }
  

  